:root {
    --gold: #c5a059;
    --navy: #1a2a3a;
    --white-soft: #f4f4f4;
    --glass-bg: rgba(255, 255, 255, 0.1);
}


.create-premium-container {
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}


.create-premium-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(8px);
    z-index: 1;
}


.create-premium-box {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 450px;
    background: var(--glass-bg);
    backdrop-filter: blur(15px);
    border-radius: 16px;
    border: 1px solid rgba(197,160,89,0.3);
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    padding: 60px 40px;
    text-align: center;
}


.create-premium-logo {
    font-size: 3rem;
    color: black;
    background-color: transparent;
    margin-bottom: 20px;
}

.create-premium-title {
    font-family: 'Cinzel', serif;
    font-size: 1.8rem;
    color: #1a2a3a;
    background-color: transparent;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.create-premium-subtitle {
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    font-size: 0.8rem;
    color: var(--gold);
    letter-spacing: 4px;
    margin-bottom: 40px;
    text-transform: uppercase;
}


.create-premium-input {
    width: 100%;
    padding: 14px 15px;
    margin-bottom: 20px;
    background: rgba(255,255,255,0.9);
    border: 1px solid var(--gold);
    border-radius: 8px;
    font-size: 0.95rem;
    outline: none;
    transition: 0.3s;
}

.create-premium-input:focus {
    box-shadow: 0 0 10px rgba(197,160,89,0.5);
}


.create-premium-btn {
    width: 100%;
    padding: 16px;
    background: var(--navy);
    color: var(--gold);
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 2px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    transform: translateY(-10px);
}

.create-premium-btn:hover {
    background: #253b52;
    color: var(--white-soft);
    transform: translateY(-2px);
}



.create-premium-message {
    margin-top: 10px;
    font-size: 0.85rem;
}
